/*Fixr Colors*/
/*
#2d6b75 - darker blue
#92c3be - lighter blue
#eff6f9 - whiteish blue
#f9ded4 - light orange
#d8977d - darker orange

*/

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: eff6f9;

}

.nav {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  min-height: 40px;
}

h1 {
  font-size: 36px;
  margin: 20px;
  margin-top: 40px;
  color: #4f4f4f;
}

/*header {
  background-color: black;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}*/

header img {
  width: 100px;
  height: auto;
}

/*
header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 40px;
}

header nav ul li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fafafa;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100px;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

button {
  background-color: #2d6b75;
  color: #fff;
  border: none;
  padding: 16px 32px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #92c3be;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  /* font-size: 48px; */
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

p {
  font-size: 24px;
  margin-top: 20px;
  color: #4f4f4f;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #4f4f4f;
}



#chat-input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid #0070c0;
  border-radius: 20px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #2d6b75;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #92c3be;

}

/* Conversation styles */
#conversation {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-height: 450px;
  overflow: auto;
}

.message {
  display: inline-block;
  padding: 10px;
  max-width: 70%;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.user {
  align-self: flex-end;
  background-color: #0070c0;
  color: #fff;
}

.fixr {
  align-self: flex-start;
  background-color: #fff;
  color: #4f4f4f;
  border: 2px solid #4f4f4f;
}

.fixr-response {
  background-color: #d8977d;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px 0;
  align-self: flex-start;
  max-width: 75%;
  text-align: left;
  position: relative;
  /* allow scrolling content and prevent chat box from shrinking*/
  overflow: auto;
  flex-shrink: 0;
}

.fixr-response:before {
  content: "";
  position: absolute;
  left: -16px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 16px 8px 0;
  border-color: transparent #e1ffc7 transparent transparent;
}

.user-response {
  background-color: #2d6b75;
  color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px 0;
  align-self: flex-end;
  max-width: 75%;
  text-align: left;
  position: relative;
  /* allow scrolling content and prevent chat box from shrinking*/
  overflow: auto;
  flex-shrink: 0;
}

.user-response:before {
  content: "";
  position: absolute;
  right: -16px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f5f5f5;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
}

footer p {
  font-size: 14px;
}

.socials {
  font-size: 21px;
  display: inline-block;
}

#fb-icon:hover {
  color: #4267b2;
}

#ig-icon:hover {
  color: #e1306c;
}

#yt-icon:hover {
  color: #ff0000;
}


#input-container {
  position: fixed;
  width: 100%;
  bottom: 0px
}

.testimonial {
  border: 2px solid #4f4f4f;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}

.testimonial p {
  font-size: 18px;
  color: #4f4f4f;
}

.testimonial h4 {
  font-size: 24px;
  color: #4f4f4f;
}

/*change font size for checkbox text on register page*/
.p_register {
  font-size: 14px;

}

/* Align text with checkbox on register page*/
.form-check-label {
  display: flex;
  align-items: center;
}

/* css for registerForm*/
.register-form {
  margin-top: 0px;
  padding-top: 0px;
}

/* css for registerForm*/
.register-form1 {
  margin-top: 0px;
}

.fixr-img {
  background-color: #2d6b75;

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: #92c3be;
  border-radius: 1px white;

  /* add a semi-transparent black layer */
  z-index: 1;
  /* make the pseudo-element appear above the image */

}

.round-img {
  border-radius: 50%;
}

.fixr-text {
  color: white;
}

.register-box {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border: 2px solid gray;

  width: auto;
  height: auto;
  background-color: #92c3be;
}

.resize-image {
  height: 80px;
  width: auto;

}